.radio-inputs-container {
  padding: 6px;
  display: inline-block;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.radio {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
